<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spam Detector</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <div class="container">
        <h1>SMS/Email Spam Detector</h1>
        <h2>Note : The Prediction is based upon Machine Learning Model with 99% Accuracy</h2>
        <form style='width:-webkit-fill-available' action='/predict' method="post">
            <div class="form-group"  style='width:-webkit-fill-available!important;margin:10px 25vw;'>
                <p>Message</p>
                <textarea class="form-control" id='sentence' name='sentence' placeholder="Enter text here ...." rows="5" cols="15"></textarea>
            </div>
            <button type="submit" class="btn-get-started">Predict</button>
        </form>
    </div>
    <div class="predicted_message">
        <h2>{{text}}</h2>
      </div>
</body>
</html>

